@use "../includes/vars/colors";
@use "../includes/vars/fonts";
@use "../includes/vars/fontSizes";

@use "../includes/mixins";

.page-template-page-faq {
	.site-content {
		background-color: colors.$lightGrey;

		.faq-container {
			display: flex;
			flex-direction: row;
			justify-content: center;

			&__items {
				flex-basis: 75%;
				flex-grow: 0;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				row-gap: 1rem;

				.item {
					position: relative;
					background-color: colors.$background;
					padding: 1.5rem 1rem;
					max-height: max-content;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					box-sizing: content-box;
					border-radius: .3rem;

					&__icon {
						position: absolute;
						right: 1rem;
						transform: translateY(15%);

						.icon {
							img {
								width: auto;
								height: 15.5px;
								object-fit: cover;
							}

							&--hidden {
								display: none;
							}
						}
					}

					&__title {
						font-size: fontSizes.$px20;
						color: colors.$blue;
						font-family: fonts.$gilroy;
						font-weight: 800;
						margin: 0;
						min-width: min-content;
						flex-basis: 100%;
					}

					&__answer {
						transform: scaleY(0%);
						max-height: 0;
						&--open {
							max-width: 75%;
							transform: scaleY(100%);
							max-height: min-content;
							p {
								margin-bottom: 0;
							}
						}
						p {
							font-family: fonts.$nexa;
							font-size: fontSizes.$px16;
							line-height: fontSizes.$px16 * 1.5;
							font-weight: normal;
							color: colors.$main;
						}
					}
				}
			}

		}

		.content__wrapper {
			@include mixins.headingBase;
		}
	}
}