@use "../includes/vars/colors";
@use "../includes/vars/fonts";
@use "../includes/vars/fontSizes";

@use "../includes/mixins";

.page-template-page-faq {
	.site-content {
		padding: 2rem 0;
		background-color: colors.$lightGrey;

		.title-heading {
			text-align: center;

			h2 {
				font-family: fonts.$gilroy;
				font-size: fontSizes.$px50;
				font-weight: 800;
				color: colors.$blue;
				margin: fontSizes.$px50 / 2 0;
			}
		}

		.faq-container {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			column-gap: 5rem;
			padding-left: 25vw;

			&__items {
				flex-basis: 65%;
				flex-grow: 0;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				max-height: max-content;
				row-gap: 1rem;

				.item {
					position: relative;
					background-color: colors.$background;
					padding: 1.5rem 1rem;
					max-height: max-content;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					box-sizing: content-box;
					border-radius: .3rem;

					&__icon {
						position: absolute;
						right: 1rem;
						transform: translateY(15%);

						.icon {
							img {
								width: auto;
								height: 15.5px;
								object-fit: cover;
							}

							&--hidden {
								display: none;
							}
						}
					}

					&__title {
						font-size: fontSizes.$px20;
						color: colors.$blue;
						font-family: fonts.$gilroy;
						font-weight: 800;
						margin: 0;
						min-width: min-content;
						flex-basis: 100%;
					}

					&__answer {
						transform: scaleY(0%);
						max-height: 0;

						&--open {
							max-width: 75%;
							transform: scaleY(100%);
							max-height: min-content;

							p {
								margin-bottom: 0;
							}
						}

						p {
							font-family: fonts.$nexa;
							font-size: fontSizes.$px16;
							line-height: fontSizes.$px16 * 1.5;
							font-weight: normal;
							color: colors.$main;
						}
					}
				}
			}

			&__image {
				align-self: end;
				//flex-basis: 75%;
				flex-grow: 0;
				flex-shrink: 1;
				max-height: 75%;

				img {
					max-height: 32rem;
				}
			}

		}

		.content__wrapper {
			text-align: center;
			@media screen and (min-width: 1920px) {
				width: 28%;
			}
			width: 38%;
			margin: 2.5rem auto 1.5rem auto;

			h2 {
				color: colors.$main;
				font-size: fontSizes.$px20;
				font-family: fonts.$gilroy;
				font-weight: 800;
				margin: fontSizes.$px20 / 2 0;
				line-height: normal;
			}

			p {
				font-size: fontSizes.$px16;
				line-height: fontSizes.$px16 * 1.5;
			}
		}
	}
}