@use "../vars/colors";
@use "../vars/fonts";
@use "../vars/fontSizes";

// TODO: set height on 100 vh on homepage

.cta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 2rem;
	align-items: center;
	padding: 0 5rem;
	position: relative;
	background-color: colors.$lightGrey;

	&--has_video {
		padding: 10rem 5rem 5rem 5rem;
	}

	&__content {
		flex-basis: fit-content;
		flex-grow: 0;
		flex-shrink: 1;
		height: max-content;
		min-height: min-content;
		max-height: max-content;
		color: colors.$main;

		h2 {
			font-size: fontSizes.$px50;
			font-family: fonts.$gilroy;
			color: colors.$blue;
			margin: 1rem 0;
		}


		.cta__link-container {
			width: max-content;
			flex-grow: 0;
			flex-shrink: 0;

			.cta__link {
				min-height: min-content;
				max-height: 3rem;
				font-size: fontSizes.$px16;
				font-weight: bold;
				display: block;
				box-sizing: border-box;
				background-color: colors.$blue;
				padding: .5rem 1.5rem;
				border-radius: .4rem;
				color: colors.$orange;
				text-decoration: none;

				&--has_arrow {
					color: colors.$blue;
					background-color: unset;
					padding: unset;
					font-size: fontSizes.$px20;
					font-family: fonts.$gilroy;
					font-weight: 800;

					&:after {
						//TODO: add arrow once i've got the file
						content: '';
						background-image: url("../../resources/icons/pijl.svg");
						display: inline-block;
						height: 20px;
						min-width: 44.64px;
						object-fit: cover;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;

					}
				}
			}
		}
	}

	&__image {
		flex-basis: fit-content;
		flex-grow: 0;
		flex-shrink: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		.attachment-full {
			max-width: 100%;
			width: auto;
			height: auto;
			object-fit: cover;
			object-position: center;
		}

		&__rounded {
			border-radius: 11rem;
		}
	}

	&__instruction-video {
		flex-basis: fit-content;
		flex-grow: 0;
		flex-shrink: 1;
	}
}