@use "../vars/colors";
@use "../vars/fonts";
@use "../vars/fontSizes";

.cta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 2rem;
	align-items: center;
	padding: 1rem 5rem;
	position: relative;

	&__content {
		flex-basis: fit-content;
		flex-grow: 0;
		flex-shrink: 1;
		height: max-content;
		min-height: min-content;
		max-height: max-content;
		color: colors.$main;

		h2 {
			font-size: fontSizes.$px50;
		}


		.cta__link-container {
			width: max-content;
			flex-grow: 0;
			flex-shrink: 0;

			.cta__link {
				min-height: min-content;
				max-height: 3rem;
				font-size: fontSizes.$px16;
				font-weight: bold;
				display: block;
				box-sizing: border-box;
				background-color: colors.$blue;
				padding: 1rem 2rem;
				color: colors.$orange;
				text-decoration: none;
			}
		}
	}

	&__image {
		flex-basis: fit-content;
		flex-grow: 0;
		flex-shrink: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		.attachment-full {
			max-width: 100%;
			width: auto;
			height: auto;
			object-fit: cover;
			object-position: center;
		}

		&__rounded {
			border-radius: 11rem;
		}
	}

	&__instruction-video {
		flex-basis: fit-content;
		flex-grow: 0;
		flex-shrink: 1;
	}
}